*{
margin:0px;
padding:0px;
}


body{
font-family: 'Gabarito', sans-serif;
}

.navbar{
    padding:10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap:15px;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: #a435f0;
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width:60%;
    display:flex;
    gap:10px;
   
}

.navbar__s2 input{
    border: none;
    width:100%;
    font-size: 16px;
    background-color: transparent;
} 
.navbar__s2 input:focus{
 outline:none;
}

.navbar__s3{
    display: flex;
    gap:15px;
}
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
position: absolute ;
background-color: white;
border: black 1px solid;
width: 100px ;
top: 150%;
padding:20px;
right:0px;
display: none;
}
.mylearning:hover .mylearning__popup
{
    display:block;
}

.categories{
    display: flex;
    justify-content: space-around;
    padding:10px;
    border-bottom: solid black 1px;
}

.categories p{
    background-color: #a435f0;
    color: white;
    padding:10px;
    border-radius: 30px;
}

.image img{
    width:100%;
    

}
.image{
    position: relative;
}


.image__offer{
    background-color: white;
    
    width:35%;
    position:absolute;
    top:100px;
    left:60px;
    border: solid 2px black;
    width: fit-content;
    padding:2%;
}

.recommended{
    padding:10px;
}

.recommended__container{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.course-card{
    width: 280px;
}

.course-card img{
    width:100%;
    height:50%
}

.topics{
    padding:10px;
}
.topics__container{
    display: flex;
    gap:10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}

.popular{
    padding:10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-one{
    display: flex;
    gap:10px;
}
.footer-two{
    display:flex;
    justify-content: space-between;
    margin:20px;
    align-items: center;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer-one p{
    margin: 20px;
}